//	Import all your stuff here
// ------------------------------------

@import "wordpress.less";
@import "../lib/font-awesome-4.4.0/less/font-awesome.less"; // Font-Awesome Docs: http://fontawesome.io/icons/ 

// Bootstrap resources. 
// Default: There are only activated the main .less archives to make it work.
@import "bootstrap.less"; // Bootstrap Docs: http://getbootstrap.com/

// Bootstrap Disabling responsiveness Docs: http://getbootstrap.com/getting-started/#disable-responsive
// .container{ width: 970px !important; } .container-fluid{ min-width: 970px !important; }

//	Fix any path's of your libs Here
// ------------------------------------

@fa-font-path:        "../lib/font-awesome-4.4.0/fonts/"; // Font-Awesome Icon Path Fix
@icon-font-path:          "../lib/bootstrap-3.3.5/fonts/"; // Bootstrap Icon Path Fix

//	My Fonts Here
// ------------------------------------
// Learn how to use @font-face - Docs: http://nicewebtype.com/notes/2009/10/30/how-to-use-css-font-face/

.font-face(@fontFamily: 'Myriad Pro', @fontStyle:normal, @fontWeight:400, @root:'../fonts/MyriadPro/', @file:'MyriadPro-Regular.otf'){
	@src: "@{root}@{file}";
	@font-face{
		font-family: '@{fontFamily}'; // 'family name' 
		font-style: @fontStyle; // normal, italic, oblique 
		font-weight: @fontWeight; // 100 (This is light), 400 (This is normal), 900 (This is bold). 
		src: url('@{src}');
	}
}

@MyriadProPath: '../fonts/MyriadPro/';
@MontserratPath: '../fonts/Montserrat/';
@DancingScriptPath: '../fonts/DancingScript/';

.font-face('MyriadPro',normal,300,@MyriadProPath,'MyriadPro-Cond.otf');
.font-face('MyriadPro',italic,300,@MyriadProPath,'MyriadPro-Condit.otf');
.font-face('MyriadPro',normal,400,@MyriadProPath,'MyriadPro-Regular.otf');
.font-face('MyriadPro',italic,400,@MyriadProPath,'MyriadPro-It.otf');
.font-face('MyriadPro',normal,600,@MyriadProPath,'MyriadPro-Semibold.otf');
.font-face('MyriadPro',italic,600,@MyriadProPath,'MyriadPro-SemiboldIt.otf');
.font-face('MyriadPro',normal,700,@MyriadProPath,'MyriadPro-BoldCond.otf');
.font-face('MyriadPro',italic,700,@MyriadProPath,'MyriadPro-BoldCondIt.otf');
.font-face('MyriadPro',normal,900,@MyriadProPath,'MyriadPro-Bold.otf');
.font-face('MyriadPro',italic,900,@MyriadProPath,'MyriadPro-BoldIt.otf');

.font-face('DancingScript',normal,400,@DancingScriptPath,'DancingScript-Regular.ttf');
.font-face('DancingScript',normal,900,@DancingScriptPath,'DancingScript-Bold.ttf');

.font-face('Montserrat',normal,400,@MontserratPath,'Montserrat-Regular.ttf');
.font-face('Montserrat',normal,900,@MontserratPath,'Montserrat-Bold.ttf');

@MyriadPro: "Myriad Pro", Arial, sans-serif;
// @SerifFontFamily: "SerifFontFamily", Georgia, Times, serif;

@primaryFontFamily: @MyriadPro;
// @secondaryFontFamily: @SerifFontFamily;

//	Variables
// ------------------------------------

@black:						#000;
@white:						#fff;
@text:						#666;
@text-light:			#888;
@dark-hover:			#344043;
@green:						#54ABB9;
@light-green:			#54ABB9;
@beige:						#e6e6dd;
@beige-hover:			#d9d9ca;
@light-gray:			#acb9bb;
@purple:					#1A788F;


// ====================================
//	General Selectors
// ====================================

body{ font-size: 14px; color: @text; font-weight: 200;}

h1, h2, h3, h4, h5, h6{ font-family: @primaryFontFamily; color: @purple; }

img{ 
	vertical-align: top; 
	width: 100%;
	height: auto;
} // Remove 2 pixels under the image

ol, ul, dl{}

li{}

p{}

a{}

blockquote{
	position: relative;
	border: none;
	padding: 20px 20px;
	background-color: lighten(@purple, 49%);

	p {font-weight: 200;}

	&:before {
		content: "";
		width: 40%;
		height: 50%;
		position: absolute;
		bottom: 0;
		left: 0%;
		border-bottom: 4px solid @purple;
		border-left: 4px solid @purple;
	}//&:before

	&:after {
		content: "";
		width: 40%;
		height: 50%;
		position: absolute;
		top: 0;
		right: 0;
		border-top: 4px solid @purple;
		border-right: 4px solid @purple;
	}//&:after
}//blockquote

// General Clases
// ====================================

.none{ display: none; }
.relative{ position: relative; }
.absolute{ position: absolute; }
.fixed{ position: fixed; }

.t-left{ text-align: left; }
.t-right{ text-align: right; }
.t-center{ text-align: center; }

.white { background-color: @white; }
.transition {transition: .2s;}
.scrolloff{ pointer-events:none; }

// Wordpress Gallery
// ====================================

.gallery-item{
	padding: 0 10px;

	img{
		width: 100%;
		height: auto;
		border: none !important;
	}
}


.wp-caption{
	border: none;

	a{ display: block; }

	img{ }
}

.wp-caption p.wp-caption-text, .wp-caption-text{
	font-weight: 400;
	font-size: .8em;
	line-height: 1em;
	padding: 15px 0;
	border-bottom: 2px solid @green;
}

.gallery-columns-3{
	.gallery-item{ width: 33.3% !important; }
}


// Header // Your Main Header Css goes here.
// ====================================

#telefono {
	text-align: right;
	background-color: @light-green;
	color: @white;
	padding: 5px 0;

	.widget-custom-link-title, .widget-custom-link-icon {
		display: inline-block;
	}

	i {font-size: 1.4em;}
	p {
		margin: 0;
		font-family: @MyriadPro;
		font-size: 1.3em;
	}
}
#main-header{ 
	height: 65px;
	.white;
	display: initial;

	.navbar {
		margin: 0;

		.navbar-brand {
			position: relative;
			margin: 10px 0;
			height: auto;
			padding: 0;

			.main-logo {
		    display: block;
			  position: absolute;
			  top: -46px;
			  background-color: white;
			  padding: 20px;
			  z-index: 999;
			  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);

				img {
					height: 120px;
					width: 100px;
					max-width: 100px;
				}//img
			}
		}//.navbar-brand
	}//.navbar
}//#main-header

.navbar-toggle .icon-bar {
	background-color: @green;
}
#main-nav {

	#main-nav-menu {	
		width: 100%;
		text-align: right;
		padding: 15px 0;


		li {
			list-style: none;
			font-family: @primaryFontFamily;
			font-size: 1.2em;
			padding: 0 5px;
			float: none;
			display: inline-block;

			&:last-child {
				padding: 0;
				.relative;
				background-color: @purple;
				border: 3px solid transparent;
				
				a {
					color: @white;
					padding: 14px 5px;

					&:hover {
						color: @purple;
						border-bottom: 3px solid transparent;
						.transition;
					}
				}

				// &:before {
				// 	content: " ";
				// 	left: 0;
				// 	position: absolute;
				// 	top: 15px;
				// 	border-left: 1px solid #666;
				// 	height: 25px;
				// }//&:before

				&:hover {
					background-color: transparent;
					border: 3px solid @purple;
					.transition;
				}
			}//&:last-child

			li {
				&:last-child {
					background-color: transparent;
					border: none;
					transition: initial;
					padding: 0 5px;

					a {
						color: @text;
						padding: 14px 0;

						&:hover {
							color: @green;
					    border-bottom: 3px solid @green;
					    transition: .2s;
						}
					}
					&:hover {
						border: none;
					}
				}
			}//li

			a {
				text-transform: uppercase;
				color: @text;
				padding: 14px 0;
				border: 3px solid transparent;
				font-size: .8em;

				.transition;

				&:hover {
					color: @green;
					border-bottom: 3px solid @green;
					.transition;
				}

			}//a
		}//li
	}//#main-nav-menu
}//#main-nav

@import "dropdown_menu.less"; // Use this Dropdown Menu to save time


// Bootstrap collapse classese

// .navbar{
// 	margin: 0;
// 	border: 0;
// 	min-height: initial;
// 	border-radius: 0;
// }
// .navbar-toggle{
// 	.icon-bar{ background-color: @black; }
// }
// .navbar-brand{ height: auto; padding: 10px 0; }

// Slogan
// ====================================
.slogan {
	font-size: 2.6em;
	text-align: center;

	.widget_text {
		display: inline-block;
		padding: 20px 10px;

		h4, .textwidget {
			display: inline-block;
		}//h4, .textwidget

		h4 {
			font-family: 'Montserrat';
			font-size: 1em;
			color: @text;
		}//h4
		
		span {
			font-family: 'DancingScript';
			font-size: 1.8em;
			line-height: .1em;
		}//span

		p {
			font-family: @primaryFontFamily;
			color: @text-light;
			font-size: .8em;
		}//p
	}//.widget_text
}//.slogan




// Regiones
// ====================================
.index-grid {
	display: inline-block;
}
.regiones {
	background-color: @beige;
	padding: 40px;
}

.index-grid, .category {
	.white;
	margin-bottom: 40px;

	.mapa {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 385px;
		margin: 0;
		padding-right: 0;

		h2 {
			color: @white;
			display: inline-block;
		}//h2
		i.fa.fa-angle-right {
			float: right;
			color: @white;
			font-size: 2.2em;
			background-color: rgba(255,255,255,0.3);
			padding: 15px 10px;
		}//i.fa.fa-angle-right
	}//.mapa

}//.africa, .america, .asia, .europa, .australia
article {	
	a {
		.relative;

		.post-meta {
			.relative;

			.post-title {
				font-size: 1.4em;
				padding-top: 30px;
				padding-bottom: 10px;
				display: block;
				color: @text;
				.transition;
				.relative;
				margin: 0;

				&:hover {
					color: @green;
					.transition;
				}

			}//.post_title
			
			.post-tag {
				position: absolute;
				z-index: 1;
				right: 0;
				top: 5px;
				font-size: .8em;
				color: #758a8e;
				background-color: white;
				padding: 4px 10px;
				text-transform: uppercase;

				&:after {
					content: '';
					width: 100%;
					height: 10px;
					background-image: url('../img/background/shadow.png');
					background-size: cover;
					background-position: center;
					left: 0;
					bottom: -10px;
					position: absolute;
				}
			}//.destino-obligado, .shopping
		}//.post-meta

		img {.transition;}

		.thumb-img {
			display: block;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			img {
				.transition;
				border: 10px solid rgba(255,255,255,0.5);
				opacity: 0;
			}
		}//.thumb-img

		&:hover {
			text-decoration: none;
			.post_title {
				padding-left: 15px;
				color: @green;
				.transition;

				&.obligado, &.destino-shopping {
					color: @white;
					padding-left: 30px;
					background-color: @green;
				}
			}//post_title
			img {
				opacity: .6;
			}//img
		}//&:hover
	}//a

	&.obligado, &.shopping {
		a {
			background-color: @light-green;
			display: block;
			.transition;

			.post-meta {
				.relative;
				.post-title {
					padding-left: 15px;
					color: @white;
				}//.post-title
			}//.post-meta
		}//a
		.cta {
			.reservaciones {
				background-color: @light-green;
			}
			.itinerario:hover, .reservaciones:hover {
				background-color: @green;
				color: @white;
				.transition;
			}//cta
		}//.cta

		&:hover {
			a .post-meta {
				background-color: @green;
				.relative;
				.transition;
			}
		}
	}//&:obligado

	&.shopping {
		a {
			background-color: @purple;
		}//.itinerario
		.cta {
			.reservaciones {
				background-color: @purple;
			}
		}
	}//&:shopping

	.content {
		margin: 20px 0;
		height: 65px;
		overflow: hidden;

		a {display: none;}
	}//.content
	.cta {
		float: right;
		text-align: right;
		margin-bottom: 15px;

		.itinerario, .reservaciones {
			padding: 7px 13px 5px;
			font-size: .86em;
			font-family: @MyriadPro;
			color: lighten(#344043, 20%);
			display: inline-block;
			.transition;

			&:hover {
				text-decoration: none;
			}//&:hover
		}//.itinerario, .reservaciones
		.itinerario { 
			background-color: @beige;
			.transition;

			&:hover {
				background-color: @beige-hover;
				.transition;
				color: #344043;
			}//&:hover
		}//.itinerario
		.reservaciones { 
			background-color: @light-gray;
			.transition;
			color: @white;
			margin-left: -4px;

			&:hover {
				background-color: @dark-hover;
				.transition;
			}//&:hover
		}//.reservaciones
	}//.cta
}//article

#africa .mapa, .africa { background-image: url('../img/background/regiones/africa.jpg'); }
#america .mapa, .america { background-image: url('../img/background/regiones/america.jpg'); }
#asia .mapa, .asia { background-image: url('../img/background/regiones/asia.jpg'); }
#europa .mapa, .europa { background-image: url('../img/background/regiones/europa.jpg'); }
#australia .mapa, .australia { background-image: url('../img/background/regiones/australia.jpg'); }
#temporadas .mapa, .temporadas { background-image: url('../img/background/regiones/temporada.jpg'); }


// Conversor
// ====================================
.conversor-index {
	#wp-currency-converter-2 {
		background-image: url('../img/background/conversor-bg.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		.white;
		text-align: right;

		.title {
			margin: 0;
			margin-left: 15px;
			display: table;
			float: right;
			background-image: url('../img/background/regiones/europa.jpg');
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
			color: @white;

			h3 {
				display: table-cell;
				vertical-align: middle;
				text-align: right;
				color: @white;
			}//h3
		}//.title

		.wpcc_tool {
			padding: 10px 0;
			display: table;
			margin: 0 auto;

			p {
				display: table-cell;
				width: 150px;
				text-align: center;
				margin: 0;
				vertical-align: middle;

				#wpcc_converting {position: absolute;}
			}//p

			#wpcc_results {
				width: auto !important;
				min-width: 120px;
				text-align: center !important;
				border: 1px solid #62848D;
				padding: 7px 10px;

				p {
					width: auto;
				}//p
			}//#wpcc_results
		}//.wpcc_tool
	}//#wp-currency-converter-2

	input#wpcc_convert {
		background-color: @green;
		color: @white;
		border: none;
		text-transform: uppercase;
		padding: 5px 30px;
		margin-right: 20px;
		font-size: 20px;
		font-family: 'MyriadPro';
	}
}




// Footer // Your Main Footer Css goes here.
// ====================================
.footer-menu {
	h3 {
		font-size: 1.25em;
	}//h3

	img {
		margin-top: 10px;
		opacity: .5;
		max-width: 180px;
	}

	ul {
		padding: 0;

		li {
			list-style: none;

			a {
				color: @text-light;
				.transition;

				&:hover {
					text-decoration: none;
					color: @light-green;
					.transition;
				}//&:hover
			}//a
		}//li
	}//ul

	&:nth-child(even) {
		border-left: 1px solid @light-gray;
	}//&:nth-child(even)

	&:last-child {
		a {
			text-transform: uppercase;
		}
	}

}//.footer-menu

#main-footer{ 
	.legales {
		background-color: @dark-hover;
		margin-top: 20px;

		.copyright, .nuevaweb {
			p {
				color: @white;
				font-size: .8em;
				margin: 0;
				padding: 10px 0;				
			}
		}

		.nuevaweb {
			text-align: right;

			a {
				color: @white;

				&:hover {
					color: @green;
					text-decoration: none;
					.transition;
				}
			}
		}
	}
}



// Destinos
// ====================================
.destinos {
	.white; 
}//.destinos
.mapamundi {
	position: relative;
	margin-bottom: -5px;
	
	.overlay {
		background:transparent; 
		position:absolute; 
		width:100%;
		height:100%; /* your iframe height */
		top:0;  /* your iframe height */
		left: 0;
	}
}//.mapamundi


// Category
// ====================================
.category {
	background-color: @beige;
	padding-bottom: 40px;

	.asia, .australia, .america, .africa, .europa {
		color: @white;
		margin: 40px 0;
		background: #6F8E91;
		min-height: 250px;

		h1 {
			font-size: 3.5em;
			color: @white;

		}//h1

		.description {
			padding: 0 30px 15px;
		}//.description

		p {
			text-align: justify;
		}//p
	}//.asia, .australia, .america, .africa, .europa

	.feature-post {
		min-height: 250px;
		margin: 40px 0;
		.white;

		.feature_post_thumb {
			min-height: 250px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}//.feature_post_thumb

		.feature_post_tag {
			font-size: .8em;
			text-align: right;
			padding: 10px 15px;
			background-color: @light-gray;
			color: @white;
		}//.feature_post_tag

		a.post-title {
				font-size: 2em;

				h1 {
					color: @text;
					.transition;
				}
			&:hover {
				text-decoration: none;
				h1 {
					color: @green;
					.transition;
				}
			}//&:hover
		}//a

		.content {
			height: 65px;

			a {display: none;}
		}//.content

		.cta {
			float: right;
			text-align: right;
			margin-bottom: 15px;

			.itinerario, .reservaciones {
				padding: 7px 13px 5px;
				font-size: .86em;
				font-family: @MyriadPro;
				color: lighten(#344043, 20%);
				display: inline-block;
				.transition;

				&:hover {
					text-decoration: none;
				}//&:hover
			}//.itinerario, .reservaciones
			.itinerario { 
				background-color: @beige;
				.transition;

				&:hover {
					background-color: @beige-hover;
					.transition;
					color: #344043;
					.transition;
				}//&:hover
			}//.itinerario
			.reservaciones { 
				background-color: @light-gray;
				.transition;
				color: @white;
				margin-left: -4px;

				&:hover {
					background-color: @dark-hover;
					.transition;
				}//&:hover
			}//.reservaciones
		}//.cta
	}//.feature-post

	article {
		.white;
		margin-bottom: 40px;
	}//article
}//.category


// Single-destinos
// ====================================
.single-destinos, .page_paquetes {
	background-color: @beige;

	header {
		margin: 40px 0;
		min-height: 250px;
		.white;

		.title {
			display: table;
			min-height: 250px;

			h1 {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				padding: 40px 0;
			}
		}

		.feature-img {
			min-height: 250px;
			background-size: cover;
			background-position: center;
		}//.feature-img
	}//header

	.content {
		.white;
		padding: 40px;
		margin-bottom: 40px;
		text-align: justify;
	}

	.sidebar1 {
		.white;
		margin-bottom: 40px;
		padding: 40px;

		p {
			margin-bottom: 5px;
		}

		h3 {
			margin: 0 0 10px;
		}

		#wp-currency-converter-2 {
			margin: 20px 0 0;
			padding: 20px 10px 0;
			display: inline-block;
			background-color: lighten(@purple, 40%);
			width: 100%;

			h3 {text-align: center;}

			p {
				width: 48%;
				float: left;
				padding: 0 10px;

				&:nth-child(4) {
					margin: 22px 0 0;
				}//&:nth-child(4)

				&:last-child {
					clear: both;
					margin: 10px 0;
					text-align: center;
					display: inline-block;
					width: 100%;
				}//&:last-child
			}//p

			input#wpcc_convert {
				background-color: @green;
				color: @white;
				border: none;
				text-transform: uppercase;
				padding: 5px 10px;
				font-size: 1.2em;
				font-family: 'MyriadPro';
			}
		}//#wp-currency-converter-2
	}//sidebar1

	.sidebar2 {
		.white;
		padding: 40px;
		margin-bottom: 40px;
	}
}//.page


// Page
// ====================================
.page {
	background-color: @beige;

	h1 {margin: 0 0 40px;}
	article {
		.white;
		margin: 40px 0;
		padding: 40px;
	}
}




// Page
// ====================================
.weather {
	.white;
	padding: 15px;
	margin: 0 0 40px;
	background-image: url('../img/background/clima.jpg');
	background-size: cover;
	background-position: center;

	.titulo {
		margin-bottom: 40px;
		text-align: right;

		h2 {
			max-width: 300px;
			float: right;
			color: @text;
		}//h2
	}//.titulo

	.pronostico {
		.white; 

		.wu-forecast-wrapper.wu-has-icon {
			text-align: center;

			.wu-simple-forecast-day {
				width: 30% !important;
				max-width: 30% !important;
			}//.wu-simple-forecast-day
		}//.wu-forecast-wrapper.wu-has-icon
	}//.pronostico
}//.weather

.wu-wrapper table {margin: 0 auto;}

.page {
	input, textarea {
		border: none;
    border-radius: 4px;
    max-width: 100%;
    width: 100%;
    background-color: @purple;
    color: @white;
    font-size: 1em;
    font-weight: 400;
    padding: 5px 10px;
	}

	input[type="submit"] {
    background-color: #1A788F;
    color: white;
    transition: 0.5s;
    width: 140px;
    float: right;
    padding: 5px;
    font-size: 1.2em;
    text-transform: uppercase;

    &:hover {
	    background-color: #54ABB9;
	    border-color: #54ABB9;
    }
	}

	img {
		max-width: 100%;
		height: auto;
	}
}



// Assets
// ====================================

#searchform{

	// Input Placeholder color
	::-webkit-input-placeholder{ color: darken(@white, 30%);}
	:-moz-placeholder{ color: darken(@white, 30%);}
	::-moz-placeholder{ color: darken(@white, 30%);}
	:-ms-input-placeholder { color: darken(@white, 30%);}
}


// Media Queries
// ====================================

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }// Large devices

/* Midum devices only (desktops, from 992px to 1200px) */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { }// Midum devices only

/* Medium devices and up (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }// Midum devices and up

/* Small devices only (tablets, from 768px to 992px) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
	#main-header .navbar .navbar-brand img {height: 70px;}
	.slogan {
		font-size: 1.8em;
	}
}// Small devices only

/* Small devices and up (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	.navbar-header {
		float: left;
		display: table;
	}

	#main-nav-menu {
		float: none;
		margin: 0;
		display: table-cell !important;
		vertical-align: middle;
	}
}// Small devices and up

/* Extra small devices (phones, less than 768px) */
@media (max-width: @screen-xs-max) { 
	.admin-bar-fix{ margin-top: 0px; }
	.header-fix-size{ display: none; }

	.navbar-header{ cursor: pointer; display: block !important; }
	.navbar-brand{

		img {height: 20px;}
		//margin:0; color: @white; font-weight: 400;
	}

	#main-nav{
		ul{ 
			width: 100%; 
			padding: 0;

			li{
				width: 100%;
				margin-left: 20px;
			
				a{
					display: block;
					&:hover{ }
				}

				>ul{
					min-width: 100%;
					.relative;
					display: block;
				}
			}// li
		}// ul
		
		#main-nav-menu {
			margin: 0;
			padding: 0;

			li {
				text-align: center;
				margin: 0;

				&:last-child {
					padding: 0 15px;

					&:before {
						border: none;
					}
				}
			}
		}
	}// #main-nav

	.slogan {
		.widget_text {
			padding: 0;

			&:first-child {
				font-size: 20px;
				text-align: left;
				display: block;
				margin-top: 20px;
				margin-bottom: -20px;
			}

			&:nth-child(2) {
				margin-bottom: -20px;
			}

			&:last-child {
				font-size: 20px;
				display: block;
				text-align: right;
			}

			p { font-size: 1.2em;}
		}//.widget_text
	}//.slogan

	#africa, #america, #asia, #europa, #australia {
		
		.mapa {
		 	height: 60px;
		 	background-position: top;
		}
	}//#africa, #america, #asia, #europa, #australia

	.pronostico .wu-forecast-wrapper.wu-has-icon .wu-simple-forecast-day {
		float: none;
		margin: 0 auto;
	}

	.conversor-index #wp-currency-converter-2 {
		background-size: cover; 
		text-align: center;

		.wpcc_tool {
			display: block;

			p {
				display: inline-block;

				&:nth-child(4) {
					margin: 20px 0 0;
				}
			}

			#wpcc_results {
				margin: 20px 10px 0;
			}//#wpcc_results
		}//.wpcc_tool
	}//#wp-currency-converter-2

	.page-destinos header .title {
		min-height: 0;
	}
}